.terminal {
    background-color: rgba(220, 220, 220, 0.938);
}
.window {
    color: rgb(119, 119, 119);
}
.status-success {
    color: #46c75b;
}
.status-fail {
    color: #F25F5C;
}
.message {
    color: gray;
}
.prompt {
    color: #DBFCFF;
}
