.terminal {
    background-color: rgba(220, 220, 220, 0.829);
}
.window {
    color: rgb(255, 255, 255);
}
.status-success {
    color: #46c75b;
}
.status-fail {
    color: #F25F5C;
}
.message {
    color: gray;
}
.prompt {
    color: #DBFCFF;
}
