@font-face {
    font-family: Cascadia;
    src: url("../components/Utility/Fonts/CascadiaCode.ttf");
}

*{
    box-sizing: border-box;
    font-family: Cascadia;
}
html, body {
    padding: 0;
    margin: 0;
}
#sidebar {
    float: left;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    color: white;
    width: 95px;
    z-index: 1;
    text-align: center;
    background-color: rgb(53, 53, 53);
}
.sidebar-item {
    padding: 5px;
    font-size: 13px;
    background-color: rgb(44, 44, 44);
    margin: 0;
}
.sidebar-item:hover {
    background-color: black;
    cursor: pointer;
}
#content {
    margin-left: 95px;
    background-color:black;
    height: 100vh;
    margin-top:0;
}
#appearance {
    color: white;
    padding: 1px;
}
.label {
    color:white;
}
#themes {
    background-color: #181818;
    color: #fff;
    font-size: inherit;
    padding: .3em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: "";
}
#font-size-control {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    background-color: transparent;
    font-size: 15px;
}
#counter {
    position: relative;
    width: 27px;
    height: 18px;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
}
.counter {
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in;
}
.counter-input {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    box-shadow: none;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in;
}
.counter-num {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 18px;
    visibility: visible;
    opacity: 1;
    transition: opacity 1000ms ease-in;
}
.ctrl {
    width: 18px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #8498a7;
    transition: background-color 100ms ease-in;
}