@font-face {
    font-family: Cascadia;
    src: url("../components/Utility/Fonts/CascadiaCode.ttf");
}

* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0vh;
    padding: 0vh;
    overflow: hidden;
}
.terminal {
    height: 100vh;
    box-shadow: inset 0 1px 0 rgba(14,14,14,0.3), 0 9px 20px 6px rgba(50,50,50,0.5);
    box-shadow: inset 0 1px 0 rgba(14,14,14,0.3), 0 9px 20px 6px rgba(50,50,50,0.5);
    background-color: rgba(0,0,0,0.9);
}
.window {
    height: 100%;
    font-family: Cascadia, monospace;
    color: #ffffff;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
}
.window::after {
    display: inline-block;
    vertical-align: 0em;
    width: 0.3em;
    height: 1em;
    background: #ffffff;
    content: " ";
    animation: blink 940ms steps(1) infinite;
    margin-left: 3px;
}

@keyframes blink {
    50% {opacity: 0;}
}
